body {
  display: inline;
}
header {
  display: block;
}
a[href] {
  text-decoration: none;
}

a:hover a:focus {
  color: #2196f3;
}
ul {
  list-style-type: none;
}

.logo-blue {
  color: #2196f3;
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
}
.logo-white {
  color: #ffffff;
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
}
.logo-black {
  color: #212121;
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
}
.menu-text {
  font-size: 14px;
  color: #212121;
  font-weight: 500;
  letter-spacing: 0.02em;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
.menu-kontakt {
  color: #757575;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 0.02em;
}
.banner {
  background-color: #2f303a;
}
.banner-text {
  font-weight: 900;
  font-size: 44px;
  line-height: 136%;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
}
.banner-button {
  width: 200px;
  height: 50px;
  left: 700px;
  top: 460px;
  background-color: #2196f3;
  color: #ffffff;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  cursor: pointer;
}

.features-headers {
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #212121;
}
.features-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 171%;
  letter-spacing: 0.03em;
}
h2 {
  font-weight: 700;
  font-size: 36px;
  color: #212121;
}
h4 {
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 0.03em;
  color: #212121;
}
footer {
  background-color: #2f303a;
  color: #ffffff;
}
.footer-address {
  color: #ffffff;
  opacity: 60%;
}

.portfolio-button {
  background-color: #f5f4fa;
  border-radius: 4px;
  font-weight: 500;
  font-size: 16px;
  cursor: pointer;
  height: 38px;
  border: 0;
}

.portfolio-button:hover,
.portfolio-button:focus {
  background-color: #2196f3;
  color: #ffffff;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}
h3 {
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 200%;
  letter-spacing: 0.06em;
  color: #212121;
}
.gallery-description {
  font-weight: 400;
  font-size: 16px;
}
